web_interface/static/jquery-3.2.1.min.js linguist-vendored 
web_interface/static/jquery-ui.css linguist-vendored 
web_interface/static/jquery-ui.min.js linguist-vendored 
web_interface/static/popper.min.js linguist-vendored 
web_interface/static/dist-bootstrap-4.0.0/* linguist-vendored
web_interface/static/dist-bootstrap-4.0.0-beta.2/* linguist-vendored
web_interface/static/dist-tether-1.4.0/* linguist-vendored 

