web_interface/static/jquery-3.2.1.min.js linguist-vendored 
web_interface/static/jquery-ui.css linguist-vendored 
web_interface/static/jquery-ui.min.js linguist-vendored 
web_interface/static/popper-1.12.6/* linguist-vendored 
web_interface/static/dist-bootstrap-4.0.0/* linguist-vendored
web_interface/static/dist-bootstrap-4.0.0-beta.2/* linguist-vendored
web_interface/static/dist-tether-1.4.0/* linguist-vendored 

#Always use linux line endings
* text eol=lf
*.bat text eol=lf

*.png binary
*.jpg binary
*.sqlite3 binary