<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Local compled Bootstrap-->
	<link rel="stylesheet" href="{% static 'dist-bootstrap-4.0.0/css/bootstrap.min.css' %}">

	<!-- jQuery library -->
	<script src="{% static 'jquery-3.2.1.min.js' %}"></script>
	
	<!-- Need tether.io for bootstrap4 (js) -->
	<script src="{% static 'dist-tether-1.4.0/js/tether.min.js' %}"></script>
	
	<!-- Local compiled JavaScript -->
	<script src="{% static 'dist-bootstrap-4.0.0/js/bootstrap.min.js' %}"></script>
  
  <style>
    body {
      padding-top:1em;
    }
    .titles {
      color: blue;
    }
	
	#home_page_title {
	  color: black;
	  text-align: center
	}
	
	#home_page_image {
	  max-width: 40%;
	  max-height: 40%;
	}
  </style>
  



  {% block head_extra %}
  {% endblock %}
  <script type="text/javascript">
  {% block script %}
  {% endblock %}
	</script>
</head>



<body>

  <div class="container-fluid">
  <nav class="navbar navbar-toggleable-xl navbar-inverse bg-inverse">
    <a class="navbar-brand" href="{% url 'title_page' %}">EASE</a>
    <!--<h1 class="navbar-brand mb-0" >EASE</h1>-->
    <div class="navbar-collapse collapse">

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'alerts_page_all' %}">Alerts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'pvs_page_all' %}">PVs</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'signup' %}">Create Account</a>
        </li>
      {% if user.is_authenticated %}
        <li class="nav-item active">
          <p class="navbar-text mb-0 nav-link" style"font-size=12px">Logged in as {{user}}</p>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
      {% endif %}
      </ul>

    </div>
  </nav>
    
  <div class="page-header" style="background-color: #d1d1d1;">
    <div class="col-sm-12"> 
    <h1>
      {% block title %}
      {% endblock %}
    </h1>
    <p>
      {% block subtitle %}
      {% endblock %}
    </p> 
    </div>
  </div>
  
  <div class="bg-faded">
    <div class="col-sm-12">
      {% block sidebar %}
      {% endblock %}
      {% block content %}
      {% endblock %}
    </div>
  </div>


</body>


</html>
