{% extends 'base.html' %}

{% block title %}
<p>Alerts list</p>
{% endblock %}


{% block content %}

<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col">
      <h2>Alerts</h2>
    </div>
    <div class="col text-right">
    <!--<input class="btn btn-primary pull-right" type="button" id="add_trigger_btn" value="Add Trigger"/>    -->
    <a href="{% url 'alert_create' %}">
    <button type="button" class="btn btn-success btn-lg text-left">Add Alert
    </button>
    </a>
    </div>
  </div>
  <br>

  <table class="table table-sm">
    <thead>
      <tr>
        <th>name</th>
        <th>pk</th>
      </tr>
    </thead>
    <tbody>
      {% if alert_list %}

      {% for alert in alert_list %}
      <tr>
				<td><a href="{% url 'alert_config' alert.pk %}"> {{alert.name}}</a></td> 
        <td>{{alert.pk}}</td>
      </tr>
      {% endfor %}
      {% endif %}

    </tbody>
  </table>
</div>

{% if is_paginated %}
	<div class="pagination">
		<span class="page-links">
			{% if page_obj.has_previous %}
				<a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
			{% endif %}
			<span class="page-current">
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>
			{% if page_obj.has_next %}
				<a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
			{% endif %}
		</span>
	</div>
{% endif %}

<br>



{% endblock %}

