{% extends 'base.html' %}



{% block head_extra %}
	{% load static %}
	<script src="{% static 'dynamic_forms.js' %}"></script>
	<script src="{% static 'search_helper.js' %}"></script>
	<script src="{% static 'pv_search.js' %}"></script>
	<script src="{% static 'jquery.bootstrap-duallistbox.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-pvSearchWidget.css' %}">
{% endblock %}

{% block script %}
	var dfc_prefix = "tg"
	var dfc_fields = ["new_name","new_pv","new_compare","new_value"]
	var dfc_replace = ["",-1,-1,""]
	$(document).ready(dynamic_form_controller);

	var name_list
	$(
		function(){
			name_list = [
				{% for name in usernames %}
					'{{name}}',
				{% endfor %}
			];
			var searcher = new search_helper(name_list,"id_new_owners");
			searcher.prepare_document();

			//var trigger_mgr = new df_controller(
			//	dfc_prefix,
			//	dfc_fields,
			//	dfc_replace,
			//	"#contents_section",
			//	"#add_trigger_btn",
			//	".delete-btn");
			//trigger_mgr.prepare_document();
		}
	);

	<!-- PV Searching Modal function -->
	var pvTagId = "";

	$(
		function () {
			
			$('#searchAndAddPVsModal').on('show.bs.modal', function(e) {
				var triggerId = $(e.relatedTarget).data('id');
				//populateTriggerPVs();
				console.log(triggerId);
				pvTagId = triggerId.replace("new_modal", "new_pv");
			});
			$('#searchAndAddPVsModal').on('hidden.bs.modal', {pvTagId:pvTagId}, saveTriggerPVs);

			$('#addSelectedSearchPVs').click(function(){
				addSelectedSearchPVs();
			})
			$('#addAllSearchPVs').click(function(){
				addAllSearchPVs();
			})
			$('#removeSelectedTriggerPVs').click(function(){
				removeSelectedTriggerPVs();
			})
			$('#removeAllTriggerPVs').click(function(){
				removeAllTriggerPVs();
			})
			$("#pvNameSearchIcon").click(function() {
				searchForPVsMatchingPattern();
		});
	});
	$(
		function(){
			var managePVModal = $("#modalPVSelect").bootstrapDualListbox(
				{
					nonSelectedListLabel: 'Find PVs',
					selectedListLabel: 'Selected PVs',
					moveOnSelect: false
				}
			);
			$(function () {
				var dualListContainer = $('#modalPVSelect').bootstrapDualListbox('getContainer');
				dualListContainer.find('.moveall i').removeClass().addClass('fa fa-arrow-right');
				dualListContainer.find('.removeall i').removeClass().addClass('fa fa-arrow-left');
				dualListContainer.find('.move i').removeClass().addClass('fa fa-arrow-right');
				dualListContainer.find('.remove i').removeClass().addClass('fa fa-arrow-left');
				});
				$("#pvNamePattern").on('keydown', function(e) {
				if (e.keyCode == 13) {
					e.preventDefault();
					console.log("Search string: "+$("#pvNamePattern").val());
					var matchingPVs = [];
					matchingPVs = searchForPVsMatchingPattern();
				}
			});
		}
	);

	
{% endblock %}
{% block title %}
	Alert Configuration Page
{% endblock %}


{% block content %}
	
	<form action="" method="post">
		{% csrf_token %}
		<!--ALERT SECTION-->
		<div class="form-group row">
			<label for="" class="col-sm-2 col-form-label"><h2>Alert:</h2></label>
		</div>
	
		{% for entry in form %}
			<div class="form-group row ">
				<label for="" class="col-sm-3 {% if entry.field.widget.input_type != "checkbox" %}col-form-label{% endif %}"> {{entry.label}} </label>
				<div class="col-sm-9"> 
					{% if entry.errors	%}
						<div class="alert alert-danger" role="alert"> {{entry.errors}} </div>	
					{% endif %}
					{{entry}}
					<small class="form-text text-muted">{{entry.help_text}}</small>
				</div>
			</div>
		{% endfor %}
	
		<br>
	
		<!--TRIGGERS SECTION-->
		<div class="form-group row">
				<label for="" class="col-sm-2 col-form-label"><b>Triggers:</b></label>
		</div>
		<input class="btn btn-primary" type="button" id="add_trigger_btn" value="Add Trigger"/>
	
		{{ triggerForm.management_form }}
	
		<table class="table">
			<thead>
				<tr>
					<th class="w-30">Trigger Name</th>
					<th class="w-10">Trigger PVs</th>
					<th class="w-10">Comparison</th>
					<th class="w-20">Value</th>
					<th class="w-10"></th>
				</tr>
			</thead>
			<tbody id="contents_section">
				{% for entry in triggerForm %}
					<tr>
						<td class="w-30">{{ entry.new_name }}</td>
						<td class="w-10">{{ entry.new_pv }}
							<!--  Search and add PVs  -->
							<button type="button" class="btn btn-info" data-toggle="modal" data-target="#searchAndAddPVsModal" data-id="id_tg-0-new_modal">Search and Add PVs</button>
						</td>
						<td class="w-10">{{ entry.new_compare }}</td>
						<td class="w-20">{{ entry.new_value }}</td>
						<td class="w-10">
							<button class="btn btn-outline-warning delete-btn" type="button">Delete Row</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<input class="btn btn-primary" type="submit" value="Submit"/>
		{% if not create %}
			<a href="{% url 'alert_delete' alert.pk %}" class="btn btn-danger">Delete</a>
		{% endif %}
	</form>
	<br>

	<!-- Trigger PV Modal -->
	<div id="searchAndAddPVsModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
						<h4 class="modal-title">Trigger PVs</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					{% comment %} <select id="modalPVSelect"></select> {% endcomment %}
					<div class="pvSearchWidget-container row">
							<div class="box1 col-md-6">
								<label>Find PVs</label>
								<span class="info-container">
									<div id="nameSearchMatchingError"></div>
									<button type="button" class="btn clear1 pull-right"></button>
								</span>
								
									<div class="input-group">
										<input type="text" id="pvNamePattern" placeholder="PV:Name:*" class="filter" />
										<span class="input-group-addon filter" id="pvNameSearch">
											<i class="fa fa-search"></i>
										</span>
									</div>
									<div class="btn-group buttons">
										<button type="button" class="btn moveall" id="addAllSearchPVs">
											<i class="fa fa-arrow-right"></i>
											<i class="fa fa-arrow-right"></i>
										</button>
										<button type="button" class="btn move" id="addSelectedSearchPVs">
												<i class="fa fa-arrow-right"></i>
										</button>
									</div>
										<ul class="list-group" id="pvNameSearchMatchingList">
										</ul>
							</div>
							<div class="box2 col-md-6">
									<label>Selected PVs</label>
									<span class="info-container">
										<span class="pvSearchReturnInfo"></span>
										<button type="button" class="btn clear1 pull-left"></button>
									</span>
										<input type="text" class="filter" id="selectedPVsFilter" placeholder="Filter Pattern"/>
										<div class="btn-group buttons">
											<button type="button" class="btn moveall" id="removeAllTriggerPVs">
												<i class="fa fa-arrow-left"></i>
												<i class="fa fa-arrow-left"></i>
											</button>
											<button type="button" class="btn move" id="removeSelectedTriggerPVs">
													<i class="fa fa-arrow-left"></i>
											</button>
										</div>
										<ul class="list-group" id="triggerPVList">
										</ul>
							</div>
					</div>


					{% comment %} <form class="form-horizontal" role="form">
							<div class="form-group">
								<div class='input-group'>
								<span class="input-group-addon">PV Name Pattern:</span>
								<input type="text" class="form-control" id="pvNamePattern" placeholder="PV:Name:*"/>
								<span class="input-group-addon">
									<span class="fa fa-search" aria-hidden="true" id="pvNameSearchIcon"></span>
								</span>
								</div>
							</div>
							</form>
							<div id="pvNameSearchMatchingError"></div>
							<ul class="list-group" id="pvNameSearchMatchingList">
							</ul> {% endcomment %}
				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Save Trigger PVs</button>
				</div>
			</div>
		
			</div>
		</div>
						</td>
						<td class="w-10">{{ entry.new_compare }}</td>
						<td class="w-20">{{ entry.new_value }}</td>
						<td class="w-10">
							<button class="btn btn-outline-warning delete-btn" type="button">Delete Row</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<input class="btn btn-primary" type="submit" value="Submit"/>
		{% if not create %}
			<a href="{% url 'alert_delete' alert.pk %}" class="btn btn-danger">Delete</a>
		{% endif %}
	</form>
	<br>

{% endblock %}

