{% extends 'base.html' %}

{% block title %}
  DEBUG PAGE
{% endblock %}

{% block subtitle %}
  use for testing configurations only -- remove before flight
{% endblock %}

{% block content %}
  <h1>Welcome to the debug page</h1>
  <h3>Now Using .html</h3>

  <h2>PVs:</h2>
  {% if pv_list %}
    <ul>
    {% for pv in pv_list %}
      <li>{{ pv.name }}</li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No PVs</p>
  {% endif %}
    
  <h2>Alerts:</h2>
  {% if alert_list %}
    <ul>
    {% for alert in alert_list %}
      <li>{{ alert.name }}</li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No alerts</p>
  {% endif %}
  <h2>statics test</h2>
  
  {% load static %}
  <img src="{% static 'new/test.png' %}" style="width:10%;"/>

  {% if user.is_authenticated %}
  LOGGED IN
  {% else %}
  LOGGED OUT
  {% endif %}
  {% if user %}
  not real
  {% else %}
  very not real
  {% endif %}



{% endblock %}
