{% extends 'base.html' %}
{% block head_extra %}
{% load static %}
{% endblock %}
{% block script %}
{% endblock %}
{% block title %}
Create PV
{% endblock %}
{% block content %}
<br>
<form action="" method="post">
    {% csrf_token %}
    <div class="form-group row col-sm-12">
        <label for="" class="col-sm-2 col-form-label"> {{form.new_name.label}} </label>
        <div class="col-sm-10"> {{form.new_name}} </div>
    </div>

    <input class="btn btn-primary" type="submit" value="Submit"/>
</form>
<br>
{% endblock %}
