{% extends 'base.html' %}
{% block head_extra %}
{% load static %}
{% endblock %}
{% block script %}
{% endblock %}
{% block title %}
<h1>Edit: {{pv.name}}</h1>
{% endblock %}


{% block content %}
<br>
<div style="display:inline;">
<form action="" method="POST">
	{% csrf_token %}
	
	<label for="" class="col-sm-2 col-form-label"><b><h4>Edit PV Name:</h4></b></label>
	<div class="col-sm-2"> {{form.new_name}} </div>
	<!-- <input type="text" placeholder="{{form.new_name}}" /> -->
	<br>
	<button type="submit" class="btn btn-success">Submit</button>
	
<!-- Delete -->
  <a href="{% url 'pv_delete' pv.id %}">
    <button type="button" class="btn btn-danger">Delete
    </button>
  </a>


</form>
</div>
{% endblock %}