{% extends 'base.html' %}

{% block head_extra %}
{% load static %}
{% endblock %}
{% block script %}
{% endblock %}
{% block title %}
Delete PV
{% endblock %}


{% block content %}
<!-- THIS IS ORIGONAL CODE ON pv_detail THAT WAS WORKING -->

<div class="delete-pv">
  <br>
  <h5>Are you sure you want to delete {{pv.name}}?</h5>
  <br>
  <form action="{% url 'pv_delete' pv.id%}" method="post" style="display: inline;">
    {% csrf_token %}
    <input type="hidden" name="pv_id" value="{{ pv.id }}"/>
    <button type="submit" class="btn btn-danger btn-sm">Confirm to Delete
    </button>
  </form> 
</div>


{% endblock %}