{% extends 'base.html' %}

{% block title %}
PVs List
{% endblock %}


{% block content %}

<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col">
      <h2>PVs</h2>
    </div>
    <div style="display:inline-block;">
      <form method='GET' action=''>
	    <input type='text' name='q' placeholder='Search PVs' />
	    <input type='submit' value='Search' />
	      <a href="{% url 'pvs_page_all' %}">
	      <button type='button' class='btn btn-sm btn-success'> Show All
	      </button>
	      </a>
	  </form>
    </div>
    <div class="col text-right">
    <a href="{% url 'pv_create' %}">
    <button type="button" class="btn btn-success btn-lg text-right">Add PV
    </button>
    </a>
    </div>
  </div>
  <br>  


  <table class="table table-sm">
    <thead>
      <tr>
        <th>name</th>
        <th>pk</th>
      </tr>
    </thead>
    <tbody>
      {% if pv_list %}
      {% for pv in pv_list %}
      <tr>
				<td><a href="{% url 'pv_detail' pv.pk %}"> {{pv.name}}</a></td> 
        <td>{{pv.pk}}</td>
      </tr>
      {% endfor %}
      {% endif %}

    </tbody>
  </table>
</div>

{% if is_paginated %}
	<div class="pagination">
		<span class="page-links">
			{% if page_obj.has_previous %}
				<a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
			{% endif %}
			<span class="page-current">
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>
			{% if page_obj.has_next %}
				<a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
			{% endif %}
		</span>
	</div>
{% endif %}




{% endblock %}

